.todolistCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 600px;
  height: 80%;
  gap: 8px;

  margin-top: 50px;

  border-radius: 38px;
  box-shadow: 1px 4px 17px 6px rgba(0, 0, 0, 0.25);
  background: var(--grey-medium, #282828);
  overflow: hidden;
}

.headingGroup {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 16px;
  padding: 0 24px;
}


.headingText {
  display: flex;
  justify-content: center;

  width: 80%;

  background-color: transparent;
  border: none;
  color: white;

  font-size: var(--heading1-size);
  letter-spacing: -0.43px;
  outline: none;

  white-space: nowrap;
}

.settings:hover {
  cursor: pointer;
}

/*Screen sizes for 414px and lower*/
@media screen and (max-width: 480px) {
  .headingText {
    font-size: var(--heading3-size);
  }
}

/*Screen sizes for 700 and lower*/
@media screen and (max-width: 768px) {
  .headingGroup {
    padding: 0 0;
  }
}