.newTask{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  z-index: 99;
}

.newTask:hover {
  cursor: pointer;
  transform: translate(0%, -10%);
}


.newTask:hover svg line {
  stroke: hsl(3, 100%, 57%);
  /* Changes the line stroke color on hover */
}

.newTask:hover svg rect {
  stroke: hsl(3, 100%, 57%);
  /* Change the rect stroke color on hover */
}