.taskbar {
    display: flex;
    flex-direction: row;
    /*These flex properties might mess up your code */
    background-color: var(--grey-taskbar);
    width: 510px;
    height: 132px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    /*border: dashed 1px white;*/

        margin-top: 16px;
        /*standard*/
}

.taskbar:hover {
    cursor: pointer;
    border: 0.8px solid white ;
    /*standard*/
}

.taskbar1 {
    margin-top: 1px;
    /*standard*/
}

.circleAll {
    margin: 28px 0 0 28px;
    /*standard*/
}

.circleAll:hover {
    background-image: url('https://www.svgrepo.com/show/17548/checked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    cursor: pointer;
    /*standard*/
}

.circle1 {
    fill: rgba(249, 117, 106, 0.16);
    stroke: var(--scheme-red);
}

.circle2 {
    fill: rgba(250, 156, 50, 0.16);
    stroke: var(--scheme-orange);

}

.circle3 {
    fill: rgba(92, 151, 246, 0.16);
    stroke: var(--scheme-blue);
}

.circle4 {

    border: initial;
    /*remove when ready*/
}

.task-titleDiv {
    display: flex;
    overflow: hidden;


    flex-direction: column;
    margin-top: 24px;
    margin-left: 8px;
    justify-content: center;

    flex-wrap: nowrap;
    white-space: nowrap;

    width: 120px;
    height: 30px;
    max-width: 147px;

    /* border: dashed 1px white; */
    /*standard*/
}

.task-title {
    /*Display*/
    display: flex;
    justify-content: flex-start;

    /*Color*/
    color: white;
    background-color: transparent;

    /*Position*/
    margin: 0 0;
    outline: none;

    /*Typography*/
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;     /*30px*/
    letter-spacing: -0.22px;

    border: none;

    /*standard*/
}

.descriptionDiv {
    display: flex;
    position: absolute;
    margin-top: 73px;
    margin-left: 76px;
    width: 394px;
    height: 48px;
    align-items: start;
    flex-shrink: 0;
    /*border: dashed 1px white;*/
    color: white;

    overflow: hidden;
    /*standard*/

}

.description {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.176px;

    margin: 0 auto;

    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    /* Add ellipsis (...) for truncated text */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to two lines of text */
    -webkit-box-orient: vertical;

    margin: 0;
    /*standard*/
}

.dateCreatedDiv {
    color: var(--scheme-green);
    position: absolute;
    margin-top: 30px;
    margin-left: 204px;
    /*standard*/
    /* border: dashed white; */
}


.date-created {

    margin: 0;
    
    /*standard*/
}

.dueDateDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--scheme-purple);
    position: absolute;
    margin-top: 28.5px;
    margin-left: 347px;
    width: 160px;
    /*standard*/

    /* border: dashed white; */
}

.due-date {
    color: var(--scheme-purple);
    background-color: transparent;
    border: none;
    outline: none;

    font-size: 1em;
    letter-spacing: -1px;
    text-transform: uppercase;

    margin: 0;
    padding-left: 2px;
    /*standard*/
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: none ;
}

