.modal-dropback {
    position: fixed;

    height: 100%;
    width: 100%;

    background-color: #000000c9;

    left: 0;
    top: 0;

    z-index: 1000;
}

.modal-card {
    position: absolute;

    width: 50%;
    height: 50%;

    border-radius: 38px;
    background: var(--grey-medium, #282828);

    transform: translate(50%, 50%);
}

.modal-task-title-div {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;

    height: auto;
    width: 45%;

    top: 16px;
    left: 24px;

    /* border: dashed 1px white; */

    white-space: nowrap;
}

.modal-task-title {
    display: flex;
    justify-content: flex-start;

    height: auto;

    background-color: transparent;
    outline: none;
    border: none;

    font-size: 1.7rem;

    line-height: 100%;
    letter-spacing: -0.22px;
    color: white;

    text-overflow: ellipsis;
}

.modal-date-created {
    position: absolute;

    right: 28px;
    margin-top: 24px;

    font-size: small;

    color: var(--scheme-green);
}

.modal-due-date-div {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    padding: 3px 0px;
    margin-top: 40px;
    width: auto;

    right: 8px;

    font-size: small;

    color: var(--scheme-purple);
}

.modal-due-date {
    margin: 0 0;
    padding-left: 2px;

    background-color: transparent;
    border: none;
    outline: none;

    color: var(--scheme-purple);

    font-size: 1em;
    letter-spacing: -1px;
    text-transform: uppercase;
}

.description-title {
    position: absolute;

    top: calc(17% - 6px);
    left: 8px;

    color: white;

    transform: translate(32%, -50%);
}

.modal-description-text-area {
    position: absolute;

    height: 50%;
    width: 80%;
    padding: 16px 8px 16px 16px;

    background-color: transparent;
    border-radius: 16px 2px 2px 16px;
    outline: none;

    color: white;

    top: 50%;
    left: 45%;

    transform: translate(-50%, -50%);

    resize: none;
}

.modal-description-text-area::-webkit-resizer {
    display: none;
}

.modal-description-text-area::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}

.modal-description-text-area::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}

.priority-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 50%;

    top: 25.1%;
    right: 16px;
}

.priority-comp {
    flex-shrink: 1;

    height: auto;
    width: 5vw;
    margin-bottom: 2px;

    /* border: dashed 0.5px white; */
    color: white;

    text-align: center;
}

.priority-comp:hover {
    cursor: pointer;
}

.priority1 {
    color: var(--scheme-red);
    border: solid 1px var(--scheme-red);
}

.priority1:hover {
    color: white !important;
    background-color: var(--scheme-red) !important;
}

.priority2 {
    color: var(--scheme-orange);
    border: solid 1px var(--scheme-orange);
}

.priority2:hover {
    color: white !important;
    background-color: var(--scheme-orange) !important;
}

.priority3 {
    color: var(--scheme-blue);
    border: solid 1px var(--scheme-blue);
}

.priority3:hover {
    color: white !important;
    background-color: var(--scheme-blue) !important;
}

.priority4 {
    color: var(--grey-light);
    border: solid 1px var(--grey-light);
}

.priority4:hover {
    color: white !important;
    background-color: var(--grey-light) !important;
}

.delete-button {
    position: absolute;

    width: 200px;
    height: 40px;

    top: 88%;
    left: 45%;

    transform: translate(-50%, -50%);

    background-color: #E30000;
    border: none;
    border-radius: 8px;

    color: white;
}

.delete-button:hover {
    cursor: pointer;
    background-color: hsl(3, 100%, 57%);
}