.taskbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90%;
    height: 144px;
    margin-top: 16px;
    padding: 8px 16px 8px 8px;
    background-color: var(--grey-taskbar);
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    overflow: hidden;
}

.taskbar:hover {
    border: 0.8px solid white;
    cursor: pointer;
}

.taskbar1 {
    margin-top: 1px;
}

.taskbar-header {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.circleAll {
    flex-shrink: 0;

    /* margin: 24px 0 0 16px; */
}

.circleAll:hover {
    background-image: url('https://www.svgrepo.com/show/17548/checked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;

    cursor: pointer;
}

.task-titleDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    /* align-self: flex-start; */

    height: 100%;
    width: 100%;

    white-space: nowrap;
    overflow: hidden;
}

.task-title {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;

    margin: 0 0;
    width: 100%;
    height: 100%;

    background-color: transparent;
    outline: none;
    border: none;

    color: white;

    font-size: var(--heading3-size);
    text-overflow: ellipsis;
}

.descriptionDiv {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    width: 100%;
    height: auto;

    color: white;
    overflow: hidden;

    /* border: dashed 1px white; */
}

.description {
    display: -webkit-box;
    /* Set display property to -webkit-box for compatibility */
    -webkit-line-clamp: 2;
    /* Limit to two lines of text */
    -webkit-box-orient: vertical;
    /* Set box orientation to vertical */

    margin: 0;

    font-size: 1em;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;

    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.date-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    /* border: 1px dashed black; */
    overflow: hidden;
}

.date-sm-screen-accessibility {
    display: none;
}

.dateCreatedDiv {
    display: flex;
    align-items: center;
    color: var(--scheme-green);
    /* border: dashed 0.5px white; */
}

.dateCreatedDiv:hover {
    cursor: auto;
}

.date-created {
    margin: 0 0;
    white-space: nowrap;
}

.dueDateDiv {
    display: flex;
    align-items: center;
    color: var(--scheme-purple);
}

.dueDateDiv {
    cursor: auto;
}

.due-date {
    margin: 0 0;
    padding-left: 2px;

    background-color: transparent;
    border: none;
    outline: none;

    color: var(--scheme-purple);

    font-size: 1em;
    letter-spacing: -1px;
    text-transform: uppercase;
}


/* input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: none;
} */

.delete-button-taskbar {
    align-self: flex-end;
    right: 14px;
    bottom: 8px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    color: red;
    text-align: center;
}

.delete-button-taskbar:hover {
    cursor: pointer;
    background-color: hsl(3, 100%, 57%);
    color: white;
}

.sm-screen-group {
    display: none;
}

/* Breakpoints for styles*/

/*Screen sizes for 480px and lower*/
@media screen and (max-width: 480px) {
    .circleAll {
        width: 30px;
        height: 30px;
    }

    .task-title {
        font-size: var(--heading4-size);
    }

    .date-group {
        display: none;
        align-items: center;
    }

    .dateCreatedDiv {
        display: none;
    }

    .dueDateDiv {
        display: none;
    }

    .sm-screen-group {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        width: 100%;
    }

    .due-date-text-sm-screen {
        font-size: 0.8rem;
        font-weight: 600;
        text-wrap: nowrap;
        margin: 0 0;
        color: var(--scheme-purple);
    }

    .sm-screen-input {
        color: var(--scheme-purple);
        background-color: transparent;
        text-transform: uppercase;
        border: var(--scheme-purple);
        outline: none;
        /* width: 100%; */
        padding: 3px 0;
        z-index: 100;
    }

    .sm-screen-input:hover {
        cursor: pointer;
    }

    .description {
        font-size: var(--heading6-size);
    }

    .delete-button-taskbar {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 768px) {}