.taskbar {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-shrink: 0;

    width: 510px;
    height: 132px;
    /*border: dashed 1px white;*/

    background-color: var(--grey-taskbar);
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    margin-top: 16px;
}

.taskbar:hover {
    border: 0.8px solid white;
    cursor: pointer;
}

.taskbar1 {
    margin-top: 1px;

}

.circleAll {
    flex-shrink: 0;

    margin: 24px 0 0 16px;
}


.circleAll:hover {
    background-image: url('https://www.svgrepo.com/show/17548/checked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;

    cursor: pointer;

}

.task-titleDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;

    height: 30px;
    width: 120px;
    max-width: 147px;
    margin-top: 26.2px;
    margin-left: 8px;

    /* border: dashed 1px white; */

    white-space: nowrap;
}

.task-title {
    display: flex;
    justify-content: flex-start;

    margin: 0 0;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /*30px*/
    letter-spacing: -0.22px;

    background-color: transparent;
    outline: none;
    border: none;

    color: white;

    text-overflow: ellipsis;
}

.descriptionDiv {
    display: flex;
    position: absolute;
    overflow: hidden;
    align-items: start;
    flex-shrink: 0;

    width: 427px;
    height: 48px;

    margin-top: 73px;
    margin-left: 64px;

    /* border: dashed 1px white; */

    color: white;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;

    margin: 0;

    font-size: 1em;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
    /* 24px */
    letter-spacing: -0.176px;

    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    /* Limit to two lines of text */

    color: white;
}

.dateCreatedDiv {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;

    height: 2.5rem;
    width: auto;
    margin-top: 20px;
    margin-left: 189px;
    padding: 3px 3px;

    color: var(--scheme-green);

    /* border: dashed 0.5px white; */
}

.dateCreatedDiv:hover {
    cursor: auto;
}


.date-created {
    margin: 0 0;
}

.dueDateDiv {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 2.5rem;
    margin-top: 20px;
    margin-left: 347px;
    padding: 3px 0px;

    /* border: dashed 0.5px white; */

    color: var(--scheme-purple);
}

.dueDateDiv {
    cursor: auto;
}

.due-date {
    margin: 0 0;
    padding-left: 2px;

    background-color: transparent;
    border: none;
    outline: none;

    color: var(--scheme-purple);

    font-size: 1em;
    letter-spacing: -1px;
    text-transform: uppercase;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: none;
}

.delete-button-taskbar {
    position: absolute;
    right: 14px;
    bottom: 8px;
    border-radius: 6px;
    border: none;
    background-color: transparent;
    color: red;
}

.delete-button-taskbar:hover {
    cursor: pointer;
    background-color: hsl(3, 100%, 57%);
    color: white;
}