.taskgroup {

    position: absolute;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 530px;
    height: 624px;

    margin-left: 24px;

    /*scroll*/
    overflow-y: auto;
    overflow-x: hidden;

    padding-left: 4px;
    padding-bottom: 8px;

}

.taskgroup::-webkit-scrollbar {
    width: 10px;
    /* Customize the width as needed */
}

.taskgroup::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Change the color as needed */
}

.bound {
    position: absolute !important;
}

